html {
    background-color: #fef1d8;
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px;
    padding: 0px;
}
a {
    color: white;
    text-decoration: none;
}

/***************************************************************************************/

div#header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #f9d400;
    padding: 10px 25px;
    height: 50px;
    border-bottom: 3px solid white;
}
div#header div.item {
    color: #ffffff;
    font-family: 'Lilita One', cursive;
    font-weight: 400;
    font-size: 1.5rem;
    flex-shrink: 0;
}
div#header div.item.logo {
    width: 40px;
    height: 40px;
    border: 3px solid #ffffff;
}
div#header img {
    padding: 0px;
    width: 100%;
}
div#header .name {
    margin-right: 40px;
}

/***************************************************************************************/

div#hero {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    margin: 40px 50px;
    gap: 20px;
}
div#hero div.item {
    flex: 1;
    font-family: 'Lilita One', cursive;
    font-weight: 400;
    font-size: 5rem;
    text-align: center;
    color: black;
}
div#hero img {
    max-width: 60vw;
    height: auto;
}

/***************************************************************************************/

div#footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #f9d400;
    padding: 10px 25px;
    height: 50px;
    border-top: 3px solid white;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.75rem;
}
div#footer #yo-momma {
    flex-shrink: 0;
}

/***************************************************************************************/

div#leaderboard-title {
    font-family: 'Lilita One', cursive;
    color: black;
    font-size: 5rem;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 35px;
}
div#leaderboard {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.75rem;
    font-weight: bold;
    color: black;
}
div#leaderboard div.item {
    display: grid;
    gap: 10px;
    grid-template: auto auto / auto auto auto;
    border: 2px solid black;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: white;
}
div#leaderboard div.screen-name {
    font-weight: normal;
}
div#leaderboard div.rank {
    font-size: 2.25rem;
    grid-row: span 2;
}
div#leaderboard div.school {
    grid-column: span 2;
    font-weight: normal;
    font-size: 1.25rem;
}
